iframe {
	height: 99.43vh;
	width: 100%;
	outline: solid black 1px;
	margin: 0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

body {
	margin: 2px;
	overflow: hidden;
}

div#bar {
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
}

button {
	display: inline;
	opacity: 25%;
	font-size: 10pt;
	width: max(max-content, 50%);
	height: max-content;
	color: white;
	background: black;
	transition: 0.25s;
	outline: none;
	border: solid lightgrey 1px;
	padding: 0.5ch 1ch;
}

button#serve {
	border-bottom-right-radius: 7px;
	background: #006000;
}

button:hover {
	background: #444;
	opacity: 100%;
}

button#serve:hover {
	background: #008800;
}
